* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  #header {
    width: 100%;
   height: 100%;
   max-width: 160px;
   max-height: 74px;
  }
  
  
  
  
  
  .header-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("books.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    padding-top: 180px;
    color:white;
    text-align: center;
  }


  .nav_bar {
    height: 63px;
    padding: 5px;
    text-align: center;
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: white;
  }
  
  .nav_bar li {
      display: inline-block;
      width: 60px;
      height: 42px;
      text-align: center;
      border-radius: 7px;
      padding-top: 8px;
      font-size: 12px;
  }
  
  .nav_bar li:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }